@import url('https://fonts.googleapis.com/css?family=Niramit');
@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
*{margin: 0; padding: 0}
body{
	font-size: 16px;
	font-family: 'Niramit', sans-serif;
	line-height: 20px;
	transition: all 0.3s ease;
}
img{
	margin: 0 auto;
}
a{
	text-decoration: none;
}
a:visated{
	color:blue;
}
li{
	list-style: none;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
.width{
	width: 1100px;
}
.width_2{
	width: 960px;
}
.fix{
	overflow:hidden;
}
/*--------------wrapper-------------*/
/*--------------header statr-------------*/
.header{
	background:#509ae4;
	width: 100%;
	height: 226px;
	margin: auto;
}
.leftheader{
	width: 20%;
}
.leftheader img{
	width: 161px;
    margin-left: 60px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.inheader{
    width: 60%;
}
.inheader{
    margin-top: 24px;

}
.inheader h1{
	font-size: 46px;
    line-height: 66px;
    color: #decdcd;
    text-align: center;
}
.inheader h2{
	font-size: 33px;
    text-align: center;
    line-height: 45px;
    color:white;
}
.inheader h3{
	font-size: 33px;
    text-align: center;
    line-height: 60px;
    color:#0aff0e;
    font-family: 'Galada', cursive;
}
.rightheader{
	width: 20%;
}
.rightheader button{
       margin-left: 41px;
    margin-top: 109px;
    height: 41px;
    width: 162px;
    font-size: 25px;
    border: none;
    background: white;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.rightheader button:hover{
    background: black;
    color: white;
    border: none;
}
/*--------------header End-------------*/
/*--------------Navegation part start-------------*/
.main{
	margin: 0 auto;
	border-right: 3px solid #509AE4; 
	border-left: 3px solid #509AE4;
	border-radius: 20px;
}
.animation{
	width: 100%;
    height: 58px;
    border-top: 1px solid #509AE4;
    border-right: 1px solid #509AE4;
    border-left: 1px solid #509AE4;
    border-radius: 30px;
    margin-top: 8px;
}
.animation h1{
	padding: 17px;
	position: relative;
    animation-name: animation;
    animation-iteration-count:infinite;
    animation-duration:10s;
	animation-direction:alternate;
	font-family: 'Bree Serif', serif;
}
@keyframes animation{
	0%{left: 0%}
	100%{left: 65%}

}
nav{
    width:100%;
}
.mainmenu{
	margin: 0 auto;
	min-height: 58px;
	border: 1px solid #509AE4;
    margin-bottom: 2px;
}
.menu li{
	float: left;
	position: relative;
}
.menu li a{
	padding: 20px 15px;
    display: block;
    font-size: 16px;
    color: black;
    transition: all .3s ease;
}
#activ{
	border-right: 1px solid #509AE4; 
	border-left: 1px solid #509AE4;
	color: red; 
    border-radius: 10px;
}
.menu li a:hover{
	border-right: 1px solid #509AE4; 
	border-left: 1px solid #509AE4;
	color: red; 
	border-radius: 10px;
}
.menu li ul li a{
	float: none;
	width: 170px;
	height: 20px;

}
.menu li ul li a{
	background-color: white;
}
.menu li ul{
	position: absolute;
	left: -99999px;
	z-index: 100;
}
.menu li:hover ul{
	left: 0;
}
/*--------------Navegation part End-------------*/
/*--------------leftontent part start-------------*/
.maincontent{
	border-top: 3px solid #7a8c8a;
	border-bottom: 3px solid #7a8c8a;
    margin-top: 17px;
    border-radius: 20px;
}
.leftcontent{
	float: left;
	width: 50%;
}
.lc_row1{	
    background: #ddd;
    margin: 10px;
    border-radius: 10px;
    width: 96%;
}
.notice{
}
.lc_row1 h1{
	text-align: center;
    background: #509AE4;
    padding: 12px;
    color: white;
}
.date{
	width: 17%;
    padding: 7px;
    float: left;
}
.date p{
    
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 30px;
    color: #c8d4b5;
}
.p1{
	background: red;
}
.p2{
	background: #509AE4;
}
.noticebody p{
     margin-top: 12px;
    margin-left: 39px;
    line-height: 27px;
    transition: all 0.5s ease;
}
.noticebody a:hover{
	color: red;
	text-decoration: underline;
}
.nbutton{
	display: block;
    text-align: center;
    background: #509AE4;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s ease;
}
.nbutton:hover{
	background-color: red;
	color: black;
}
.lc_row2,.lc_row3{
	background: #FEF4E5;
    margin: 15px 10px;
    border-radius: 10px;
    width: 96%;
}
.lc_row2 h1,.lc_row3 h1,.rc_row3 h1{
	text-align: center;
    background: #7a8c8a;
    padding: 12px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.galary{
	 padding: 10px;
}
.galary img{
    padding: 5px;
    width: 235px;
    height: 157px;
    border-radius: 10px;
    -webkit-transition: all 0.15 ease;
    -moz-transition: all 0.15 ease;
    -o-transition: all 0.15 ease;
}
.galary img:hover{
	border:2px solid #7a8c8a;
}
.gbutton{
	display: block;
    text-align: center;
    background: #7a8c8a;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s ease;
}
.gbutton:hover{
	background-color: red;
	color: black;
}
.itable{
    margin: 15px auto;
 	background: none;
    padding: 9px 8px;
    border-radius: 12px;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    height: 271px;
    color: #00b0ff;
}
.itable thead{
	color: #000000;
    background: #44DAC9;
}
.theight{
	height: 44px;
}
.itable a{
	display: block;
	padding: 9px;
	transition: all  0.20s ease;
}
.itable a:hover{
	background: #44DAC9;
	color: white;
}
/*--------------leftontent part End-------------*/
/*--------------Rightcontent part Start-------------*/
.rightcontent{
	float: right;
	width: 50%;
}
.pmassage,.rc_row3,.rc_row2{	
    background: #ddd;
    margin: 15px 10px;
    border-radius: 10px;
    width: 96%;
}
.pmassage h1,.rc_row2 h1{
	text-align: center;
    background: #509AE4;
    padding: 12px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.pmassage img{
	width: 241px;
    margin-left: 139px;
}
.pmassage p{
	text-align: justify;
    margin: 12px;
    font-size: 17px;
    line-height: 26px;

}
.rclink{
	 margin: 15px;
}
.rclink ul a{
    display: block;
    padding: 9.3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.rclink ul a:hover{
	color: red;
	text-decoration: underline;
}

/*--------------Rightcontent End-------------*/
/*--------------Content end------------*/
.information{
	margin: 30px 20px;
}
.inf{
    border-top: 1px solid #0041ff;
    border-bottom: 1px solid #0041ff;
    border-radius: 17px;
   
}
.information h1{
    padding: 12px;
    color: red;
    position: relative;
    animation-name: sohag,joy;
    animation-iteration-count:infinite;
    animation-duration:10s;
	animation-direction:alternate;
	font-family: 'Bree Serif', serif;
}
@keyframes joy{
	from{left: 0px}
	to{left: 640px}
}
.iimg{
	float: left;
   
}
.iimg i{
	font-size: 120px;
    margin: 15px 68px;
    position: relative;
    animation-name: sohag;
    animation-iteration-count:infinite;
    animation-duration:10s;
	animation-direction:alternate;
}
.iimg h2{
	font-size: 23px;
    text-align: center;
}
.iimg a{
	color: white;
	display: block;
	position: relative;
    animation-name: sohag;
    animation-iteration-count:infinite;
    animation-duration:10s;
	animation-direction:alternate;
}
@keyframes sohag{
	0%{color:black}
	25%{color:#ca1a1a}
	50%{color:#359798}
	75%{color:#27712a}
	100%{color:#2136a0}
}
/*--------------Footer part------------*/
.fotter{
	background:#53687d;
	width: 100%;
	height: 20px;
	margin: auto;
	height: 500px;
}
.fotterwidth{
	margin: 0 auto;
	width: 80%;
	height: 330px;
	border-bottom: 2px solid wheat;
	border-left: 2px solid wheat;
	border-right: 2px solid wheat;
	border-radius: 20px; 
	padding: 10px;
}
.f_cl1{
	margin: 26px;
    float: left;
    width: 40%;
    border-right: 1px solid #3d4267;
     border-radius: 20px;
}
.f_cl1 h1{
	font-size: 25px;
    line-height: 34px;
    color: wheat;
    border-bottom: 1px dotted;
    display: inline-block;
}
.f_cl1 h2{
	font-size: 25px;
    line-height: 45px;
    color: wheat;
    border-bottom: 1px dotted;
     display: inline-block;
}
.an h2{
	color: #509AE4;
}
.followed{
	
	display: block;
	position: relative;
    animation-name: folow;
    animation-iteration-count:infinite;
    animation-duration:5s;
	animation-direction:alternate;
}
@keyframes folow{
	from{left: 0px}
	to{left: 170px}
}

.an:hover h2{
	color: black;
	text-decoration: underline;
}
.f-cl2{
	width: 25%;
	height: 260px;
    border-right: 1px solid #3d4267;
    border-radius: 20px;
    margin: 35px 0 0 0;
}
.f-cl2 li{
	font-size: 26px;
    color: wheat;
    border-bottom: 1px dotted;
    line-height: 32px;
    display: inline-block;
    transition: all 0.35s ease;
  	-webkit-transition: all 0.35s ease;
  	-moz-transition: all 0.35s ease;
  	-o-transition: all 0.35s ease;
  	-ms-transition: all 0.35s ease;
}
.f-cl2 li:hover{
	color:black;
}
.f-cl3{
	width: 20%;
    margin: 35px 0 0 0;
    padding-left: 20px;
}
.f-cl3 li{
    color: wheat;
    border-bottom: 1px dotted;
    border-radius: 20px;
    line-height: 28px;
    text-align: center;
    font-size: 26px;
  	transition: all 0.35s ease;
  	-webkit-transition: all 0.35s ease;
  	-moz-transition: all 0.35s ease;
  	-o-transition: all 0.35s ease;
  	-ms-transition: all 0.35s ease;
}
.f-cl3 li:hover{
	color:black;
}
.copy{
	    height: 100px;
    border-right: 1px solid wheat;
    border-left: 1px solid wheat;
    border-bottom: 1px solid wheat;
    border-radius: 20px;
    margin: 0 auto;
}
.ccl1 p{
	color: lawngreen;
    margin: 38px 7px;
    font-size: 19px;
    
}
.ccl2 h1{
	color: wheat;
    padding-top: 17px;
    padding-right: 15px;
}
.ccl2 a{
	padding-left: 40px;
    line-height: 38px;
    color: greenyellow;
    display: block;
} 
.ccl2 a:hover{
	color: #ff4242;
	text-decoration: underline;
}
/*--------------Footer End------------*/
/*--------------About bbpi part start------------*/
.submaincontent{
	width: 88%;
	border-left: 1px solid #7a8c8a;
	border-right: 1px solid #7a8c8a;
	margin: 0 auto;
	border-radius: 20px;  
}
.aboutbbpi{
	    padding: 4%;
}
.aboutbbpi img{
	width: 500px;
    height: 300px;
    margin-left: 20%;
    border-radius: 200px;
}
.aboutbbpi h1{
	text-align: center;
	margin: 20px;
}
.aboutbbpi p{
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
}
/*--------------Contuct principal------------*/
.principal{
	min-height: 1200px;
}

.p_img img{
	    width: 400px;
    height: 300px;
    border-radius: 100px;
    margin: 20px 49px;
}
.p-about{
	height: 320px;
}
.p_about_1{
	    margin-top: 187px;
}
.p_about_1 h1,.p_about_1 h2{
	margin: 17px;
	color: black;
}
.p_h1{
	    text-align: center;
    margin: 20px;
    border-bottom: 1px solid #886545;
    border-radius: 7px;
    line-height: 54px;
}
.p_form{
	width: 70%;
	min-height: 600px;
    margin: 0 auto;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 25px;
}
input[type="text"],[type="number"],[type="email"],[type="date"]
{
	height: 28px;
    margin: 13px;
    width: 293px;
    padding: 10px;
}
textarea{
        margin-left: 10px;
    padding: 10px;
}
input[type="radio"]{
        margin-left: 10px;
    margin-bottom: 10px;
     padding: 10px;
}
.td{
	padding-left: 30px;
    font-size: 22px;
    color: black;
} 
.button{
    margin-top: 10px;
	margin-left: 36%;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    height: 49px;
    width: 324px;
   -webkit-transition: all .35s ease;
   -moz-transition: all .35s ease;
   -o-transition: all .35s ease;
   -ms-transition: all .35s ease;
}
.button:hover{
	background: black;
	color: white;
}
/*--------------Depertment------------*/
.dmenu_wrapper{
	height:75px;
}
.dmenu {
    width: 69%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #509AE4;
    border-top: 1px solid #509AE4;
    background: white;
    border-radius: 19px;
    margin-top: 15px;
}
.dmenu ul{
    padding-left: 36px;
}
.dmenu ul li{
	float: left;
}
.dmenu ul li a{
	padding: 15px 24px;
    display: block;
    background: white;
    color: black;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease; 
    -ms-transition: all 0.35s ease;

}
.dmenu ul li a:hover{
	border-left: 1px solid black;
	border-right:1px solid black;
	border-radius: 10px;
	color: red;
}
.danimation{
	width: 100%;
    height: 58px;
    border-top: 1px solid #509AE4;
    border-right: 1px solid #509AE4;
    border-left: 1px solid #509AE4;
    border-radius: 30px;
    margin-top: 8px;
}
.danimation h1{
	padding: 17px;
	position: relative;
    animation-name: danimation;
    animation-iteration-count:infinite;
    animation-duration:10s;
	animation-direction:alternate;
	font-family: 'Bree Serif', serif;
}
@keyframes danimation{
	from{left: 0%}
	to{left: 45%}

}
/*----------------------result----------------*/
.rcontent{
	 width: 90%;
    border: 1px solid;
    border-radius: 30px;
    margin: 0 auto;
}
.rtable{
	    width: 90%;
    height: 260px;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
}
.rtable a{
 	display: block;
 	padding: 19px;
}
.rtable a:hover{
	color: red;
}
.rcontent a:hover{
	color: red;
	text-decoration: underline;
}